/* -------------------------- LAYOUT -------------------------- */

/* Breakpoints
 *  es     sm     md     lg     xl     xxl
 * 576px  576px  768px  992px  1200px 1400px
 */

/* Color theme */
:root {
    --gap-1: 0.25rem;
    --gap-2: 0.5rem;
    --gap-3: 1rem;
    --gap-4: 2rem;
    --gap-5: 2.5rem;
    --gap-6: 3rem;
    --gap-7: 4.5rem;
    --gap-8: 6rem;
    --child-max-width: 1200px;

    --trans-duration: 0.15s;
    --ease-in-quint: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    --ease-out-quint: cubic-bezier(0.230, 1.000, 0.320, 1.000);

    --color-white: #F5F8F8;        /* Seasalt */
    --color-light-blue: #ADD9F4;   /* Uranian Blue */
    --color-medium-blue: #4EA5D9;  /* Picton Blue */
    --color-deep-blue: #40618C;    /* Lapis Lazuli */ /* rgb(64, 97, 140) */
    --color-sunset: rgb(255, 158, 94, 0.5);  /* #FF9E5E */
}
:root {
    --bg-color: var(--color-light-blue);
    --text-color: var(--color-white);
    --card-text-color: var(--color-deep-blue);
    --highlight-color: var(--color-medium-blue);
    --sel-text-color: var(--color-deep-blue);
    --sel-bg-color: var(--color-white);
    --navbar-color: var(--color-deep-blue);
    --thumb-color: var(--color-deep-blue);
    --thumb-hover-color: var(--color-medium-blue);
    --shadow-color: var(--color-sunset);
}

body {
    overflow-x: hidden;
    overflow-y: overlay;

    color: var(--color-white);
    font-family: 'Zen Maru Gothic', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    background: var(--color-light-blue);
    scroll-behavior: smooth;
}
@media screen and (max-width: 480px) {
    body {
        font-size: 0.9rem;
    }
}

/* Pre-loader */
.preloader {
    display: grid;
    position: fixed;
    padding: var(--gap-6);
    inset: 0;
    z-index: 10000;
    place-items: center;
    place-content: center;
    row-gap: var(--gap-3);

    text-align: justify;
    background-color: var(--color-deep-blue);
    transition: opacity, visibility, transform;
    transition-duration: calc(2 * var(--trans-duration));
}
.preloader img {
    aspect-ratio: 1 / 1;
    height: auto;
    width: min(256px, 70vw);
    object-fit: contain;
    pointer-events: none;
}
#permission-preloader {
    background-color: var(--color-light-blue);
    transition-duration: calc(4 * var(--trans-duration));
    transition-timing-function: var(--ease-out-quint);
}

.guru-container {
    max-width: fit-content;
    position: relative;
}
#guru {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation: loader 1s linear infinite;
	        animation: loader 1s linear infinite;
}
@-webkit-keyframes loader {
	0%   { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
@keyframes loader {
	0%   { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.main-layout {
    min-height: 100vh;
    min-height: 100dvh;
    margin: auto;

    display: grid;
    /* ! DO NOT DELETE: AFFECTS FOOTER */
    place-items: center;
    place-content: center;
    grid-template-rows: 
        auto
        1fr
        auto;
    row-gap: var(--gap-8);
}
.main-layout > *:not(:first-child) {
    width: min(var(--child-max-width), 100%);
}

.navbar {
    min-height: 4.5rem;
    padding-left: var(--gap-1);
    padding-right: var(--gap-1);
    background: var(--navbar-color);
    opacity: 0;
}
.navbar > * {
    margin-left: var(--gap-2);
}
.navbar-brand {
    
    font-size: 2rem;
}
.navbar-nav {
    column-gap: var(--gap-1);
}

.nav-link {
    position: relative;
    color: var(--text-color);
    fill: var(--text-color);
    font-weight: 500;
    text-decoration: none;
}
.nav-link::after {
    --height: 0.1em;
    --offset: 2em;
    content: '';
    width: calc(100% - var(--offset));
    height: var(--height);
    position: absolute;
    left: calc(var(--offset) / 2);
    bottom: 0.3em;

    background: var(--color-light-blue);
    border-radius: var(--height);
    transform: scale(0, 1);
}
.nav-link:hover, .nav-link:focus {
    color: var(--color-light-blue);
    fill: var(--color-light-blue);
}
.nav-link:hover::after {
    transform: scale(1, 1);
}
.nav-link:active {
    color: var(--highlight-color);
    fill: var(--highlight-color);
}
.nav-link:active::after {
    background: var(--highlight-color);
}

@media screen and (max-width: 576px) {
    .nav-link:hover::after {
        transform: scale(0.2, 1);
    }
}

/* Container for FABs at bottom right corner */
.fab-container {
    --width: 4rem;

    width: var(--width);
    display: grid;
    position: fixed;
    bottom: var(--gap-4);
    right: var(--gap-4);
    z-index: 1000;
    place-content: center;
    place-items: center;
    row-gap: var(--gap-3);

    opacity: 0%;
    visibility: hidden;
}

@media screen and (max-width: 576px) {
    .navbar {
        --margin: 0.9rem;
        min-height: 4rem;
    }
    .navbar-brand {
        font-size: 1.5rem;
    }
    .fab-container {
        bottom: 1.6rem;
        right: 1.6rem;
        transform: scale(85%);
    }
}

/* tsParticles */
#snowflakes {
    height: 100%;
    pointer-events: none;
}
#snowflakes-behind {
    position: absolute;
    top: 0;
    height: 60%;
    z-index: 0;
    pointer-events: none;
    filter: blur(3px);
}

.main-header {
    --inset-width: -3rem;
    width: 100vw;
    height: 100vh;
    height: 100svh;

    overflow: hidden;
    display: grid;
    position: relative;
    place-items: center;
    place-content: center;

    background: url('../favicon.svg') center, var(--bg-color);
    background-size: 1rem;
}
.tachie-container {
    height: 100%;
    margin-left: -1rem;
    display: grid;
    position: absolute;
    place-items: center;
    place-content: center;
}
.tachie-container img {
    --filter-120: brightness(1.06) contrast(1.2);
    --filter-100: brightness(1.05) contrast(1.1);
    --filter-80: brightness(1.04) contrast(1.08);
    --filter-60: brightness(1.03) contrast(1.06);
    --filter-40: brightness(1.02) contrast(1.04);
    --filter-20: brightness(1.01) contrast(1.02);
    --filter-10: brightness(1.005) contrast(1.01);
    --filter-n20: brightness(0.99) contrast(0.98);
    --filter-n40: brightness(0.98) contrast(0.96);
    --filter-n60: brightness(0.97) contrast(0.94);

    /* overflow-y: visible; */
    position: absolute;
    height: 100vh;
    height: 100svh;
    object-fit: cover;

    transition: all var(--trans-duration) ease-out;
    pointer-events: none;
}
#tachieBGTop {
    filter: brightness(1) contrast(1);
    animation: flare-sm 10s ease-in-out infinite;
}
#tachieBGBottom, #tachie {
    

    filter: brightness(1) contrast(1);
    animation: flare-lg 10s ease-in-out infinite;
}
@keyframes flare-sm {
    0% { filter: initial; }
    20% { filter: var(--filter-10); }
    30% { filter: var(--filter-60); }
    37.5% { filter: var(--filter-60); }
    42.5% { filter: var(--filter-40); }
    45% { filter: var(--filter-60); }
    70% { filter: var(--filter-n40); }
    100% { filter: initial; }
}
@keyframes flare-lg {
    0% { filter: initial; }
    20% { filter: var(--filter-20); }
    30% { filter: var(--filter-120); }
    37.5% { filter: var(--filter-120); }
    42.5% { filter: var(--filter-80); }
    45% { filter: var(--filter-100); }
    70% { filter: var(--filter-n60); }
    100% { filter: initial; }
}

.headings {
    display: grid;
    position: absolute;
    top: 22%;  /* 25% */
    text-align: center;
    font-style: italic;
    transform: skewY(-7deg);
}

.header-frame {
    position: absolute;
    width: 100%;
    height: 100%;
    outline: var(--text-color) 0.15rem solid;
    outline-offset: var(--inset-width);
}

#scrollDownArrow {
    position: absolute;
    bottom: calc(-1 * var(--inset-width) + 2rem);
    z-index: 2;
    animation: float 1.5s ease-in-out infinite;
}
@keyframes float {
    0% {
        margin-bottom: 0;
    }
    50% {
        margin-bottom: 0.8rem;
    }
    100% {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 576px) {
    .main-header {
        --inset-width: -2.5rem;
    }
    .headings {
        top: 20%;
    }
}
@media screen and (max-width: 360px) {
    .headings {
        top: 12.5%;
    }
}

.main-article {
    display: grid;
    row-gap: var(--gap-8);
}

.main-article > * {
    min-width: var(--main-min-width);
    max-width: var(--main-max-width);
    width: 100%;
    margin: auto;

    display: grid;
    place-items: center;
    row-gap: var(--gap-8);
    column-gap: var(--gap-6);
}
.main-article section iframe {
	aspect-ratio: 16 / 9;
	height: 100%;
	width: 100%;
    border-radius: 1rem;
}
.main-article > *:not(:last-child):after {
    content: '．．．';
    color: var(--text-color);
    font-weight: 700;
}

.footer-section {
    min-height: 5rem;

    text-align: center;
    background: var(--color-deep-blue);
    border-radius: 2rem 2rem 0 0;
}
.footer-section a {
    color: var(--color-light-blue);
    text-decoration: none !important;
}

i {
    font-family: 'FontAwesome';
    font-size: 1.1em;
    font-style: normal;
}

/* -------------------------- STRUCT -------------------------- */

/* Cards */
.card-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
    justify-items: center;
    justify-content: space-between;
    
    row-gap: var(--gap-6);
    column-gap: var(--gap-6);
}
.card-list a {
    color: var(--text-color);
}
.card {
    --card-radius: 2rem;
    --card-border: 0.5rem;
    
    min-height: 6rem;
    padding: var(--card-border);
    
    display: flex;
    position: relative;
    place-items: center;
    place-content: start;
    row-gap: var(--gap-3);
    column-gap: var(--gap-3);
    
    border: none;
    border-radius: var(--card-radius);
    text-decoration: none;
}
.card:hover {
    -webkit-box-shadow: var(--card-border) var(--card-border) var(--color-deep-blue);
    box-shadow: var(--card-border) var(--card-border) var(--color-deep-blue);
    transition: all var(--trans-duration) ease-in-out;
}
.card > *:first-child {
    --img-radius: calc(var(--card-radius) - var(--card-border));

    aspect-ratio: 5 / 4;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: var(--img-radius);
}
.card-content {
    margin: var(--gap-2);
    padding-bottom: var(--gap-2);
    display: grid;
    place-items: center; 
    place-content: start;
    row-gap: var(--gap-1);

    color: var(--card-text-color);
    text-align: justify;
}
.card-content :first-child {
    text-align: center;
}

@media screen and (max-width: 768px) {
    .card-list {
        grid-template-columns: repeat(2, 1fr);
    }
    .card {
        width: 100%;
    }
}
@media screen and (max-width: 576px) and (min-width: 360px) {
    .card-list {
        grid-template-columns: 1fr;
    }
    .card {
        max-height: calc(5 * var(--card-radius));
        min-width: 280px;
        flex-direction: row;
        place-content: flex-start;
    }
    .card > *:first-child {
        aspect-ratio: 2 / 3;
        height: 100%;
        width: auto;
    }
    .card-content {
        overflow-x: hidden;
        overflow-y: scroll;
        height: 100%;
        padding-right: var(--gap-1);
        place-items: start;
    }
    .card-content :first-child {
        text-align: justify;
    }
}
@media screen and (max-width: 359px) {
    .card-list {
        grid-template-columns: 1fr;
    }
    .card {
        width: 240px !important;
    }
    .card > *:first-child {
        aspect-ratio: 3 / 2;
    }
}

.video-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: var(--gap-2);
    column-gap: var(--gap-4);
    align-items: center;
}

@media screen and (min-width: 576px) {
    .video-container:nth-child(even) {
        flex-direction: row;
    }
    .video-container:nth-child(odd) {
        flex-direction: row-reverse;
    }
    .video-container .card-content {
        max-width: 40%;
    }
}

/* -------------------------- STYLES -------------------------- */

/* Buttons */
.btn {
    display: inline-flex;
    place-content: center;
    place-items: center;
    column-gap: var(--gap-2);

    color: var(--text-color);
    fill: var(--text-color);
    border: none !important;
}
.btn:hover {
    color: var(--color-light-blue);
    fill: var(--color-light-blue);
    background: inherit;
    border: inherit;
    outline: inherit;
}
.btn:active {
    color: var(--highlight-color);
    fill: var(--highlight-color);
    background: inherit;
    border: inherit;
    outline: inherit;
}

/* Floating action button */
.btn-fab {
    --fab-content-size: 36px;
    aspect-ratio: 1 / 1;
    width: inherit;
    min-width: 3rem;
    
    color: var(--color-white);
    background: var(--navbar-color) !important;
    border-radius: 50%;
    border: none;
}
.btn-fab svg {
    height: var(--fab-content-size);
    width: auto;
}
.btn-fab:active {
    transform: scale(90%);
}

/* Text */
.heading {
    font-family: 'Caveat', cursive;
    font-weight: 700;
    font-size: 6em;
}

.subheading {
    font-weight: 500;
    font-size: 2.5em;
}

.title {
    display: inline-flex;
    position: relative;
    font-weight: 500;
    font-size: 2.5em;
    text-align: center;
}
.title:after {
    --height: 0.1em;
    --offset: 1em;
    content: '';
    width: calc(100% - var(--offset));
    height: var(--height);
    position: absolute;
    left: calc(var(--offset) / 2);
    bottom: -0.3em;
    background: var(--text-color);
    border-radius: var(--height);
}

.title-sm {
    font-weight: 700;
    font-size: 1.5em;
}

@media screen and (max-width: 992px) {
    .heading {
        font-size: 4.2em;
    }
    .subheading {
        font-size: 2em;
    }
}
@media screen and (max-width: 768px) {
    .heading {
        font-size: 3.6em;
    }
    .subheading {
        font-size: 1.6em;
    }
}
@media screen and (max-width: 576px) {
    .heading {
        font-size: 3em;
    }
    .title {
        font-size: 2em;
    }
}

/* -------------------------- SCROLL -------------------------- */

*::-webkit-scrollbar {
    width: 12px;
    background: transparent;
    overflow-y: hidden;
}

*::-webkit-scrollbar-thumb {
    border: 4px solid transparent;
    background: var(--thumb-color);
    border-radius: 12px;
    background-clip: content-box;
}

*::-webkit-scrollbar-thumb:hover {
    border: 4px solid transparent;
    background:  var(--thumb-hover-color);
    border-radius: 12px;
    background-clip: content-box;
}

*::-webkit-scrollbar-corner {
    border-radius: 12px;
}

/* -------------------------- OTHERS -------------------------- */

/* Twemoji style */
img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 0.05em 0 0.1em;
    vertical-align: -0.1em;
}

/* Material Icons */
.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

/* Shadows */
.text-shadow {
    /* --color-deep-blue but with opacity 10% */
    text-shadow: 0.05em 0.05em 0.2em rgb(64, 97, 140, 0.1);
}
.text-shadow-sunset {
    text-shadow: 0.2em 0.2em 1.5em var(--shadow-color);
}

/* Transitions */
.transition {
    transition: all ease-in-out var(--trans-duration);
}
.preloader img,
.navbar, .nav-link, .nav-link::after, .fab-container,
#scrollDownArrow,
.btn, .btn > * {
    transition: all ease-in-out var(--trans-duration);
}
.transition-none {
    -webkit-transition-property: none;
    -moz-transition-property: none;
    -o-transition-property: none;
    transition-property: none;
}

.fade-in {
    opacity: 100% !important;
    visibility: visible !important;
}
.fade-out {
    opacity: 0%;
    visibility: hidden;
}

.reveal {
    opacity: 0;
    transition: opacity 1s;
}
.reveal.active {
    opacity: 1;
}
.active.fade-in-front {
    animation: fade-in-front 2s var(--ease-out-quint);
}
.active.fade-in-top-d75 {
    animation: fade-in-top-d75 2.75s var(--ease-out-quint);
}
.active.fade-in-top-d100 {
    animation: fade-in-top-d100 3s var(--ease-out-quint);
}
.active.fade-in-bottom {
    animation: fade-in-bottom 0.8s ease-in-out;
}

@keyframes fade-in-front {
    0% {
        opacity: 0.4;
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes fade-in-top-d75 {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    27.5% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fade-in-top-d100 {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    33.3% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fade-in-bottom {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.unscrollable {
    overflow-y: hidden;
}

/* Selection */
::selection {
    color: var(--sel-text-color);
    background: var(--sel-bg-color);
}
::-moz-selection {
    color: var(--sel-text-color);
    background: var(--sel-bg-color);
}